/* Блок places,   Куршская коса...... */
.places {
  list-style: none;
  padding: 6px 148px 0;
  margin: 0;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .places {
    padding: 6px 48px 0;
  }
}

@media (max-width: 768px) {
  .places {
    padding: 0 24px 0;
  }
}

@media (max-width: 320px) {
  .places {
    padding: 0;
  }
}


