/* Сама ссылка */
.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}



